body{
    background-color: azure;
    font-family: "Times New Roman";
}

H1{
    color: darkred;
    text-align: center;
    text-underline: black;
}
H2{
    color: maroon;
    text-align: center;
}
H3{
    color: blueviolet;
    font-size:medium;
}
button{
    background-color: aqua;
    color: black;
}
#Contact{
    text-align: center;
    color: maroon;
}
p{
    color: black;
}